@model DoAnPhanMem.Models.Order
@{
    ViewBag.Title = "Thông tin đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";
    string noImage = "/Content/Images/no-image.jpg";
    var culture = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    var listProduct = (List<DoAnPhanMem.Models.Oder_Detail>)ViewBag.ListProduct;
    var orderHistory = (List<DoAnPhanMem.Models.Order>)ViewBag.OrderHistory;
    double total = 0;
}
<!--begin::content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Toolbar-->
    <div class="toolbar" id="kt_toolbar">
        <!--begin::Container-->
        <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
            <!--begin::Page title-->
            <div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
                <!--begin::Title-->
                <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">Thông tin đơn hàng</h1>
                <!--end::Title-->
                <!--begin::Separator-->
                <span class="h-20px border-gray-300 border-start mx-4"></span>
                <!--end::Separator-->
                <!--begin::Breadcrumb-->
                <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-muted">
                        <a href="../../demo1/dist/index.html" class="text-muted text-hover-primary">Danh sách đơn hàng</a>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-300 w-5px h-2px"></span>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-dark">Thông tin đơn hàng</li>
                    <!--end::Item-->
                </ul>
                <!--end::Breadcrumb-->
            </div>
            <!--end::Page title-->
            <!--begin::Actions-->
            <div class="btn btn-sm btn-flex fw-bolder">
                <!--begin::Filter menu-->
                <!--begin::Primary button-->
                <a onclick="window.history.go(-1)" class="btn btn-sm btn-primary" data-bs-toggle="modal">
                    <span class="svg-icon svg-icon-2">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect opacity="0.3" x="8.5" y="11" width="12" height="2" rx="1" fill="black" />
                            <path d="M10.3687 11.6927L12.1244 10.2297C12.5946 9.83785 12.6268 9.12683 12.194 8.69401C11.8043 8.3043 11.1784 8.28591 10.7664 8.65206L7.84084 11.2526C7.39332 11.6504 7.39332 12.3496 7.84084 12.7474L10.7664 15.3479C11.1784 15.7141 11.8043 15.6957 12.194 15.306C12.6268 14.8732 12.5946 14.1621 12.1244 13.7703L10.3687 12.3073C10.1768 12.1474 10.1768 11.8526 10.3687 11.6927Z" fill="black" />
                            <path opacity="0.5" d="M16 5V6C16 6.55228 15.5523 7 15 7C14.4477 7 14 6.55228 14 6C14 5.44772 13.5523 5 13 5H6C5.44771 5 5 5.44772 5 6V18C5 18.5523 5.44771 19 6 19H13C13.5523 19 14 18.5523 14 18C14 17.4477 14.4477 17 15 17C15.5523 17 16 17.4477 16 18V19C16 20.1046 15.1046 21 14 21H5C3.89543 21 3 20.1046 3 19V5C3 3.89543 3.89543 3 5 3H14C15.1046 3 16 3.89543 16 5Z" fill="black" />
                        </svg>
                    </span>
                    Quay lại
                </a>
                <!--end::Primary button-->
            </div>
            <!--end::Actions-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Toolbar-->
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">
            <div class="row d-flex justify-content-center">
                <div class="col-xl-10">
                    <!--begin::Order details page-->
                    <div class="d-flex flex-column gap-7 gap-lg-10">
                        <div class="d-flex flex-wrap flex-stack gap-5 gap-lg-10">
                            <!--begin:::Tabs-->
                            <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-bold mb-lg-n2 me-auto">
                                <!--begin:::Tab item-->
                                <li class="nav-item">
                                    <a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab" href="#kt_ecommerce_sales_order_summary">Tóm tắt đơn hàng</a>
                                </li>
                                <!--end:::Tab item-->
                                <!--begin:::Tab item-->
                                <li class="nav-item">
                                    <a class="nav-link text-active-primary pb-4" data-bs-toggle="tab" href="#kt_ecommerce_sales_order_history">Lịch sử mua hàng</a>
                                </li>
                                <!--end:::Tab item-->
                            </ul>
                            <!--end:::Tabs-->
                        </div>
                        <!--begin::Order summary-->
                        <div class="d-flex flex-column flex-xl-row gap-7 gap-lg-10">
                            <!--begin::Order details-->
                            <div class="card card-flush py-4 flex-row-fluid">
                                <!--begin::Card header-->
                                <div class="card-header">
                                    <div class="card-title">
                                        <h2>Thông tin đơn hàng (#@Model.order_id)</h2>
                                    </div>
                                </div>
                                <!--end::Card header-->
                                <!--begin::Card body-->
                                <div class="card-body pt-0">
                                    <div class="table-responsive">
                                        <!--begin::Table-->
                                        <table class="table align-middle table-row-bordered mb-0 fs-6 gy-5 min-w-300px">
                                            <!--begin::Table body-->
                                            <tbody class="fw-bold text-gray-600">
                                                <!--begin::Date-->
                                                <tr>
                                                    <td class="text-muted">
                                                        <div class="d-flex align-items-center">
                                                            <!--begin::Svg Icon | path: icons/duotune/files/fil002.svg-->
                                                            <span class="svg-icon svg-icon-2 me-2">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                                                                    <path opacity="0.3" d="M19 3.40002C18.4 3.40002 18 3.80002 18 4.40002V8.40002H14V4.40002C14 3.80002 13.6 3.40002 13 3.40002C12.4 3.40002 12 3.80002 12 4.40002V8.40002H8V4.40002C8 3.80002 7.6 3.40002 7 3.40002C6.4 3.40002 6 3.80002 6 4.40002V8.40002H2V4.40002C2 3.80002 1.6 3.40002 1 3.40002C0.4 3.40002 0 3.80002 0 4.40002V19.4C0 20 0.4 20.4 1 20.4H19C19.6 20.4 20 20 20 19.4V4.40002C20 3.80002 19.6 3.40002 19 3.40002ZM18 10.4V13.4H14V10.4H18ZM12 10.4V13.4H8V10.4H12ZM12 15.4V18.4H8V15.4H12ZM6 10.4V13.4H2V10.4H6ZM2 15.4H6V18.4H2V15.4ZM14 18.4V15.4H18V18.4H14Z" fill="black" />
                                                                    <path d="M19 0.400024H1C0.4 0.400024 0 0.800024 0 1.40002V4.40002C0 5.00002 0.4 5.40002 1 5.40002H19C19.6 5.40002 20 5.00002 20 4.40002V1.40002C20 0.800024 19.6 0.400024 19 0.400024Z" fill="black" />
                                                                </svg>
                                                            </span>
                                                            <!--end::Svg Icon-->Ngày đặt
                                                        </div>
                                                    </td>
                                                    <td class="fw-bolder text-end">@Model.oder_date.ToString("HH:mm dd/MM/yyyy")</td>
                                                </tr>
                                                <!--end::Date-->
                                                <!--begin::Payment method-->
                                                <tr>
                                                    <td class="text-muted">
                                                        <div class="d-flex align-items-center">
                                                            <!--begin::Svg Icon | path: icons/duotune/finance/fin008.svg-->
                                                            <span class="svg-icon svg-icon-2 me-2">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                                    <path opacity="0.3" d="M3.20001 5.91897L16.9 3.01895C17.4 2.91895 18 3.219 18.1 3.819L19.2 9.01895L3.20001 5.91897Z" fill="black" />
                                                                    <path opacity="0.3" d="M13 13.9189C13 12.2189 14.3 10.9189 16 10.9189H21C21.6 10.9189 22 11.3189 22 11.9189V15.9189C22 16.5189 21.6 16.9189 21 16.9189H16C14.3 16.9189 13 15.6189 13 13.9189ZM16 12.4189C15.2 12.4189 14.5 13.1189 14.5 13.9189C14.5 14.7189 15.2 15.4189 16 15.4189C16.8 15.4189 17.5 14.7189 17.5 13.9189C17.5 13.1189 16.8 12.4189 16 12.4189Z" fill="black" />
                                                                    <path d="M13 13.9189C13 12.2189 14.3 10.9189 16 10.9189H21V7.91895C21 6.81895 20.1 5.91895 19 5.91895H3C2.4 5.91895 2 6.31895 2 6.91895V20.9189C2 21.5189 2.4 21.9189 3 21.9189H19C20.1 21.9189 21 21.0189 21 19.9189V16.9189H16C14.3 16.9189 13 15.6189 13 13.9189Z" fill="black" />
                                                                </svg>
                                                            </span>
                                                            <!--end::Svg Icon-->Phương thức thanh toán
                                                        </div>
                                                    </td>
                                                    <td class="fw-bolder text-end">
                                                        @Model.Payment.payment_name
                                                    </td>
                                                </tr>
                                                <!--end::Payment method-->
                                                <!--begin::Date-->
                                                <tr>
                                                    <td class="text-muted">
                                                        <div class="d-flex align-items-center">
                                                            <!--begin::Svg Icon | path: icons/duotune/ecommerce/ecm006.svg-->
                                                            <span class="svg-icon svg-icon-2 me-2">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                                    <path d="M20 8H16C15.4 8 15 8.4 15 9V16H10V17C10 17.6 10.4 18 11 18H16C16 16.9 16.9 16 18 16C19.1 16 20 16.9 20 18H21C21.6 18 22 17.6 22 17V13L20 8Z" fill="black" />
                                                                    <path opacity="0.3" d="M20 18C20 19.1 19.1 20 18 20C16.9 20 16 19.1 16 18C16 16.9 16.9 16 18 16C19.1 16 20 16.9 20 18ZM15 4C15 3.4 14.6 3 14 3H3C2.4 3 2 3.4 2 4V13C2 13.6 2.4 14 3 14H15V4ZM6 16C4.9 16 4 16.9 4 18C4 19.1 4.9 20 6 20C7.1 20 8 19.1 8 18C8 16.9 7.1 16 6 16Z" fill="black" />
                                                                </svg>
                                                            </span>
                                                            <!--end::Svg Icon-->Đơn vị giao hàng
                                                        </div>
                                                    </td>
                                                    <td class="fw-bolder text-end">@Model.Delivery.delivery_name</td>
                                                </tr>
                                                <!--end::Date-->
                                            </tbody>
                                            <!--end::Table body-->
                                        </table>
                                        <!--end::Table-->
                                    </div>
                                </div>
                                <!--end::Card body-->
                            </div>
                            <!--end::Order details-->
                            <!--begin::Customer details-->
                            <div class="card card-flush py-4 flex-row-fluid">
                                <!--begin::Card header-->
                                <div class="card-header">
                                    <div class="card-title">
                                        <h2>Thông tin khách hàng</h2>
                                    </div>
                                </div>
                                <!--end::Card header-->
                                <!--begin::Card body-->
                                <div class="card-body pt-0">
                                    <div class="table-responsive">
                                        <!--begin::Table-->
                                        <table class="table align-middle table-row-bordered mb-0 fs-6 gy-5 min-w-300px">
                                            <!--begin::Table body-->
                                            <tbody class="fw-bold text-gray-600">
                                                <!--begin::Customer name-->
                                                <tr>
                                                    <td class="text-muted">
                                                        <div class="d-flex align-items-center">
                                                            <!--begin::Svg Icon | path: icons/duotune/communication/com006.svg-->
                                                            <span class="svg-icon svg-icon-2 me-2">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                                    <path opacity="0.3" d="M22 12C22 17.5 17.5 22 12 22C6.5 22 2 17.5 2 12C2 6.5 6.5 2 12 2C17.5 2 22 6.5 22 12ZM12 7C10.3 7 9 8.3 9 10C9 11.7 10.3 13 12 13C13.7 13 15 11.7 15 10C15 8.3 13.7 7 12 7Z" fill="black" />
                                                                    <path d="M12 22C14.6 22 17 21 18.7 19.4C17.9 16.9 15.2 15 12 15C8.8 15 6.09999 16.9 5.29999 19.4C6.99999 21 9.4 22 12 22Z" fill="black" />
                                                                </svg>
                                                            </span>
                                                            <!--end::Svg Icon-->Họ tên
                                                        </div>
                                                    </td>
                                                    <td class="fw-bolder text-end">
                                                        <div class="d-flex align-items-center justify-content-end">
                                                            <!--begin:: Avatar -->
                                                            <div class="symbol symbol-circle symbol-25px overflow-hidden me-3">
                                                                <a href="@Url.Action("Details","Auth",new {id = Model.acc_id })">
                                                                    <div class="symbol-label">
                                                                        <img src="@(Model.Account.avatar == null? noImage: Model.Account.avatar)" alt="Dan Wilson" class="w-100" />
                                                                    </div>
                                                                </a>
                                                            </div>
                                                            <!--end::Avatar-->
                                                            <!--begin::Name-->
                                                            <a href="@Url.Action("Details","Auth",new {id = Model.acc_id })" class="text-gray-600 text-hover-primary">@Model.oderUsername</a>
                                                            <!--end::Name-->
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!--end::Customer name-->
                                                <!--begin::Customer email-->
                                                <tr>
                                                    <td class="text-muted">
                                                        <div class="d-flex align-items-center">
                                                            <!--begin::Svg Icon | path: icons/duotune/communication/com011.svg-->
                                                            <span class="svg-icon svg-icon-2 me-2">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                                    <path opacity="0.3" d="M21 19H3C2.4 19 2 18.6 2 18V6C2 5.4 2.4 5 3 5H21C21.6 5 22 5.4 22 6V18C22 18.6 21.6 19 21 19Z" fill="black" />
                                                                    <path d="M21 5H2.99999C2.69999 5 2.49999 5.10005 2.29999 5.30005L11.2 13.3C11.7 13.7 12.4 13.7 12.8 13.3L21.7 5.30005C21.5 5.10005 21.3 5 21 5Z" fill="black" />
                                                                </svg>
                                                            </span>
                                                            <!--end::Svg Icon-->Email
                                                        </div>
                                                    </td>
                                                    <td class="fw-bolder text-end">
                                                        <a href="@Url.Action("Details","Auth",new {id = Model.acc_id })" class="text-gray-600 text-hover-primary">@ViewBag.Email</a>
                                                    </td>
                                                </tr>
                                                <!--end::Payment method-->
                                                <!--begin::Date-->
                                                <tr>
                                                    <td class="text-muted">
                                                        <div class="d-flex align-items-center">
                                                            <!--begin::Svg Icon | path: icons/duotune/electronics/elc003.svg-->
                                                            <span class="svg-icon svg-icon-2 me-2">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                                    <path d="M5 20H19V21C19 21.6 18.6 22 18 22H6C5.4 22 5 21.6 5 21V20ZM19 3C19 2.4 18.6 2 18 2H6C5.4 2 5 2.4 5 3V4H19V3Z" fill="black" />
                                                                    <path opacity="0.3" d="M19 4H5V20H19V4Z" fill="black" />
                                                                </svg>
                                                            </span>
                                                            <!--end::Svg Icon-->Số điện thoại
                                                        </div>
                                                    </td>
                                                    <td class="fw-bolder text-end">@("0" + Model.oderPhone)</td>
                                                </tr>
                                                <!--end::Date-->
                                            </tbody>
                                            <!--end::Table body-->
                                        </table>
                                        <!--end::Table-->
                                    </div>
                                </div>
                                <!--end::Card body-->
                            </div>
                            <!--end::Customer details-->
                        </div>
                        <!--end::Order summary-->
                        <!--begin::Tab content-->
                        <div class="tab-content">
                            <!--begin::Tab pane-->
                            <div class="tab-pane fade show active" id="kt_ecommerce_sales_order_summary" role="tab-panel">
                                <!--begin::Orders-->
                                <div class="d-flex flex-column gap-7 gap-lg-10">
                                    <div class="d-flex flex-column flex-xl-row gap-7 gap-lg-10">
                                        <!--begin::Shipping address-->
                                        <div class="card card-flush py-4 flex-row-fluid overflow-hidden">
                                            <!--begin::Background-->
                                            <div class="position-absolute top-0 end-0 opacity-10 pe-none text-end">
                                                <img src="assets/media/icons/duotune/ecommerce/ecm006.svg" class="w-175px" />
                                            </div>
                                            <!--end::Background-->
                                            <!--begin::Card header-->
                                            <div class="card-header">
                                                <div class="card-title">
                                                    <h2>Địa chỉ nhận hàng</h2>
                                                </div>
                                            </div>
                                            <!--end::Card header-->
                                            <div class="card-body pt-0">
                                                @Model.oder_address,
                                            </div>
                                        </div>
                                        <!--end::Shipping address-->
                                    </div>
                                    <!--begin::Product List-->
                                    <div class="card card-flush py-4 flex-row-fluid overflow-hidden">
                                        <!--begin::Card header-->
                                        <div class="card-header">
                                            <div class="card-title">
                                                <h2>Đơn hàng #@Model.order_id</h2>
                                            </div>
                                        </div>
                                        <!--end::Card header-->
                                        <!--begin::Card body-->
                                        <div class="card-body pt-0">
                                            <div class="table-responsive">
                                                <!--begin::Table-->
                                                <table class="table align-middle table-row-dashed fs-6 gy-5 mb-0">
                                                    <!--begin::Table head-->
                                                    <thead>
                                                        <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                                            <th class="min-w-175px">Sản phẩm</th>
                                                            <th class="min-w-100px text-end">Số lượng</th>
                                                            <th class="min-w-100px text-end">Đơn giá</th>
                                                            <th class="min-w-100px text-end">Thành tiền</th>
                                                        </tr>
                                                    </thead>
                                                    <!--end::Table head-->
                                                    <!--begin::Table body-->
                                                    <tbody class="fw-bold text-gray-600">
                                                        @foreach (var item in listProduct)
                                                        {
                                                            <!--begin::Products-->
                                                            <tr>
                                                                <!--begin::Product-->
                                                                <td>
                                                                    <div class="d-flex align-items-center">
                                                                        <!--begin::Thumbnail-->
                                                                        <a target="_blank" href="~/@SlugGenerator.SlugGenerator.GenerateSlug(item.Product.pro_name)-@item.Product.pro_id" class="symbol symbol-50px">
                                                                            <span class="symbol-label" style="background-image:url('@item.Product.pro_img');"></span>
                                                                        </a>
                                                                        <!--end::Thumbnail-->
                                                                        <!--begin::Title-->
                                                                        <div class="ms-5">
                                                                            <a target="_blank" href="~/@SlugGenerator.SlugGenerator.GenerateSlug(item.Product.pro_name)-@item.Product.pro_id" class="fw-bolder text-gray-600 text-hover-primary">@item.Product.pro_name</a>
                                                                        </div>
                                                                        <!--end::Title-->
                                                                    </div>
                                                                </td>
                                                                <!--end::Product-->
                                                                <!--begin::Quantity-->
                                                                <td class="text-center">@item.quantity</td>
                                                                <!--end::Quantity-->
                                                                <!--begin::Price-->
                                                                <td class="text-end">
                                                                    @item.price.ToString("#,0₫", culture.NumberFormat)
                                                                </td>
                                                                <!--end::Price-->
                                                                <!--begin::Total-->
                                                                <td class="text-end">
                                                                    @{
                                                                        total += item.quantity * item.price;
                                                                        double total2 = item.quantity * item.price;
                                                                        <span>@total2.ToString("#,0₫", culture.NumberFormat)</span>
                                                                    }
                                                                </td>
                                                                <!--end::Total-->
                                                            </tr>
                                                        }
                                                        <!--begin::Subtotal-->
                                                        <tr>
                                                            <td colspan="3" class="text-end">Tạm tính</td>
                                                            <td class="text-end">@total.ToString("#,0₫", culture.NumberFormat)</td>
                                                        </tr>
                                                        <!--end::Subtotal-->
                                                        <!--begin::VAT-->
                                                        <tr>
                                                            <td colspan="3" class="text-end">Giảm giá</td>
                                                            @{
                                                                var totalPice = total + ViewBag.shipfee - Model.total;
                                                            }
                                                            @if (totalPice >= 0)
                                                            {
                                                                <td class="text-end">@((total + ViewBag.shipfee - Model.total).ToString("#,0₫", culture.NumberFormat))</td>
                                                            }
                                                            else
                                                            {
                                                                <td class="text-end">0₫</td>

                                                            }

                                                        </tr>
                                                        <!--end::VAT-->
                                                        <!--begin::Shipping-->
                                                        <tr>
                                                            <td colspan="3" class="text-end">Phí vận chuyển</td>
                                                            <td class="text-end">@ViewBag.shipfee.ToString("#,0₫", culture.NumberFormat)</td>
                                                        </tr>
                                                        <!--end::Shipping-->
                                                        <!--begin::Grand total-->
                                                        <tr>
                                                            <td colspan="3" class="fs-3 text-dark text-end">Tổng cộng</td>
                                                            <td class="text-danger fs-3 fw-boldest text-end">@Model.total.ToString("#,0₫", culture.NumberFormat)</td>
                                                        </tr>
                                                        <!--end::Grand total-->
                                                    </tbody>
                                                    <!--end::Table head-->
                                                </table>
                                                <!--end::Table-->
                                            </div>
                                        </div>
                                        <!--end::Card body-->
                                    </div>
                                    <!--end::Product List-->
                                </div>
                                <!--end::Orders-->
                            </div>
                            <!--end::Tab pane-->
                            <!--begin::Tab pane-->
                            <div class="tab-pane fade" id="kt_ecommerce_sales_order_history" role="tab-panel">
                                <!--begin::Orders-->
                                <div class="d-flex flex-column gap-7 gap-lg-10">
                                    <!--begin::Order history-->
                                    <div class="card card-flush py-4 flex-row-fluid">
                                        <!--begin::Card header-->
                                        <div class="card-header">
                                            <div class="card-title">
                                                <h2>Lịch sử mua hàng</h2>
                                            </div>
                                        </div>
                                        <!--end::Card header-->
                                        <!--begin::Card body-->
                                        <div class="card-body pt-0">
                                            <div class="table-responsive">
                                                <!--begin::Table-->
                                                <table class="table align-middle table-row-dashed fs-6 gy-5 mb-0">
                                                    <!--begin::Table head-->
                                                    <thead>
                                                        <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                                            <th class="min-w-50px">ID</th>
                                                            <th class="min-w-120px">Ngày đặt</th>
                                                            <th class="min-w-120px">Trị giá đơn hàng</th>
                                                            <th class="min-w-120px">Trạng thái đơn hàng</th>
                                                            <th class="min-w-150px">Ghi chú</th>
                                                        </tr>
                                                    </thead>
                                                    <!--end::Table head-->
                                                    <!--begin::Table body-->
                                                    <tbody class="fw-bold text-gray-600">
                                                        @foreach (var item in orderHistory)
                                                        {
                                                            <tr>
                                                                <td><a target="_blank" href="@Url.Action("Details","Orders",new {id=item.order_id})" class="text-dark">@item.order_id</a></td>
                                                                <!--begin::Date-->
                                                                <td>@item.oder_date.ToString("HH:mm dd-MM-yyyy")</td>
                                                                <!--end::Date-->
                                                                <!--begin::Total-->
                                                                <td>@item.total.ToString("#,0₫", culture.NumberFormat)</td>
                                                                <!--end::Total-->
                                                                <!--begin::Status-->
                                                                <td>
                                                                    <!--begin::Badges-->
                                                                    @if (item.status == "1")
                                                                    {
                                                                        <div class="badge badge-light-warning">chờ xử lý</div>
                                                                    }
                                                                    else if (item.status == "2")
                                                                    {
                                                                        <div class="badge badge-light-info">Đang xử lý</div>
                                                                    }
                                                                    else if (item.status == "3")
                                                                    {
                                                                        <div class="badge badge-light-success">Hoàn thành</div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <div class="badge badge-light-danger">Bị hủy</div>
                                                                    }
                                                                    <!--end::Badges-->
                                                                </td>
                                                                <!--end::Status-->
                                                                <!--begin::Customer Notified-->
                                                                <td>@(item.order_note == ""?"Không":item.order_note)</td>
                                                                <!--end::Customer Notified-->
                                                            </tr>
                                                        }
                                                    </tbody>
                                                    <!--end::Table head-->
                                                </table>
                                                <!--end::Table-->
                                            </div>
                                        </div>
                                        <!--end::Card body-->
                                    </div>
                                    <!--end::Order history-->
                                    <!--begin::Order data-->
                                    <div class="card card-flush py-4 flex-row-fluid">
                                        <!--begin::Card header-->
                                        <div class="card-header">
                                            <div class="card-title">
                                                <h2>Dữ liệu đặt hàng</h2>
                                            </div>
                                        </div>
                                        <!--end::Card header-->
                                        <!--begin::Card body-->
                                        <div class="card-body pt-0">
                                            <div class="table-responsive">
                                                <!--begin::Table-->
                                                <table class="table align-middle table-row-bordered mb-0 fs-6 gy-5">
                                                    <!--begin::Table body-->
                                                    <tbody class="fw-bold text-gray-600">
                                                        <!--begin::IP address-->
                                                        <tr>
                                                            <td class="text-muted">IP Address</td>
                                                            <td class="fw-bolder text-end">172.68.221.26</td>
                                                        </tr>
                                                        <!--end::IP address-->
                                                        <!--begin::Forwarded IP-->
                                                        <tr>
                                                            <td class="text-muted">Forwarded IP</td>
                                                            <td class="fw-bolder text-end">89.201.163.49</td>
                                                        </tr>
                                                        <!--end::Forwarded IP-->
                                                        <!--begin::User agent-->
                                                        <tr>
                                                            <td class="text-muted">User Agent</td>
                                                            <td class="fw-bolder text-end">Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/96.0.4664.110 Safari/537.36</td>
                                                        </tr>
                                                        <!--end::User agent-->
                                                        <!--begin::Accept language-->
                                                        <tr>
                                                            <td class="text-muted">Accept Language</td>
                                                            <td class="fw-bolder text-end">en-GB,en-US;q=0.9,en;q=0.8</td>
                                                        </tr>
                                                        <!--end::Accept language-->
                                                    </tbody>
                                                    <!--end::Table body-->
                                                </table>
                                                <!--end::Table-->
                                            </div>
                                        </div>
                                        <!--end::Card body-->
                                    </div>
                                    <!--end::Order data-->
                                </div>
                                <!--end::Orders-->
                            </div>
                            <!--end::Tab pane-->
                        </div>
                        <!--end::Tab content-->
                    </div>
                    <!--end::Order details page-->
                </div>
            </div>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->
</div>
<!--end::Content-->
