@{
    ViewBag.Title = "KAOME - Laptop, phụ kiện chính hãng";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
    var culture = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    var listHostProduct = (List<DoAnPhanMem.Models.Product>)ViewBag.HotProduct;
    var listNewProduct = (List<DoAnPhanMem.Models.Product>)ViewBag.NewProduct;
    var listLaptop = (List<DoAnPhanMem.Models.Product>)ViewBag.Laptop;
    var listAccessory = (List<DoAnPhanMem.Models.Product>)ViewBag.Accessory;
    var listOrderDetail = (List<DoAnPhanMem.Models.Oder_Detail>)ViewBag.OrderDetail;
    var AvgFeedback = (List<DoAnPhanMem.Models.Feedback>)ViewBag.AvgFeedback;
}
<!-- Start Hero Slider Section-->
<div class="hero-slider-section">
    <!-- Slider main container -->
    <div class="hero-slider-active swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Start Hero Single Slider Item -->
            <div class="hero-single-slider-item swiper-slide">
                <!-- Hero Slider Image -->
                <div class="hero-slider-bg">
                    @*<img src="~/Images/logo/maxresdefault.jpg" alt="image" />*@
                    <img src="~/Content/Images/banner/8691702.jpg" />

                    @*  <img src="https://lh3.googleusercontent.com/xTnCL7cNQFHweGLUNTC5jSnnT0NRHvI7MgavTiLvaHmVeYkgjb2wl80Lszl4E20QRTcxRGhXQI2vFtMx9Hy0cut_kIXIkv52=rw-w1920"*@

                </div>
                <!-- Hero Slider Content -->
                <div class="hero-slider-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-auto">
                                <div class="hero-slider-content">
                                    <a href="@Url.Action("Index","Product")"
                                       class="btn btn-lg btn-golden">
                                        Mua Ngay !!!
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Hero Single Slider Item -->
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination active-color-golden"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev d-none d-lg-block"></div>
        <div class="swiper-button-next d-none d-lg-block"></div>
    </div>
</div>
<!-- End Hero Slider Section-->
<!--begin::New Product-->
<div class="product-default-slider-section section-top-gap-100 section-fluid">
    <!-- Start Section Content Text Area -->
    <div class="section-title-wrapper" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-content-gap">
                        <div class="secton-content">
                            <h3 class="section-title">Sản phẩm mới</h3>
                            <p>
                                Đặt hàng trước ngay bây giờ để nhận ưu đãi & quà tặng độc
                                quyền
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Section Content Text Area -->
    <div class="product-wrapper" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="product-slider-default-1row default-slider-nav-arrow">
                        <!-- Slider main container -->
                        <div class="swiper-container product-default-slider-4grid-1row">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Start Product Default Single Item -->
                                @foreach (var item in listNewProduct)
                                {
                                    <div class="product-default-single-item product-color--golden swiper-slide">
                                        <div class="image-box">
                                            <a href="~/@SlugGenerator.SlugGenerator.GenerateSlug(item.pro_name)-@item.pro_id"
                                               class="image-link">
                                                <img src="@item.pro_img"
                                                     alt="@item.pro_name" />
                                            </a>
                                            @if (item.Discount.discount_start < DateTime.Now && item.Discount.discount_end > DateTime.Now && item.Discount.discount_price != 0)
                                            {
                                                <div class="tag">
                                                    <span>-@((((item.price) /(item.price))-((item.price - item.Discount.discount_price)/(item.price))).ToString("0%"))</span>
                                                </div>
                                            }
                                            <div class="action-link">
                                                <div class="action-link-left">
                                                    <input step="1" id="quantity" autocomplete="off" hidden value="1" type="number" />
                                                    <a href="@Url.Action("AddToCart", "Cart", new { productId = @item.pro_id, quantity = 1, action = "addtocartfromhome" })" style="cursor:pointer;">Thêm vào giỏ hàng</a>

                                                </div>
                                                <div class="action-link-right">
                                                    <a href="#"
                                                       data-bs-toggle="modal"
                                                       data-bs-target="#modalQuickview">
                                                        <i class="icon-magnifier"></i>
                                                    </a>
                                                    <a>
                                                        <i class="icon-heart"></i>
                                                    </a>
                                                    <a>
                                                        <i class="icon-shuffle"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="text-center">
                                                <h6 class="title">
                                                    <a href="~/@SlugGenerator.SlugGenerator.GenerateSlug(item.pro_name)-@item.pro_id" style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">@item.pro_name</a>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <ul class="review-star">
                                                @{
                                                    double onestar = 1; int c_onestar = 0; double truestar = 2; int c_truestar = 0;
                                                    double threestar = 3; int c_threestar = 0; ; double fourstar = 4; int c_fourstar = 0;
                                                    double fivestar = 5; int c_fivestar = 0; int totalrating = 0; double avg = 0;
                                                    string avgStar = "";
                                                    foreach (var avgfb in AvgFeedback)
                                                    {
                                                        foreach (var feedbackOrder in listOrderDetail)
                                                        {
                                                            if (avgfb.product_id == item.pro_id && avgfb.status == "2" && feedbackOrder.Order.status == "3" && feedbackOrder.pro_id == item.pro_id)
                                                            {
                                                                totalrating++;
                                                                if (avgfb.rate_star == 1)
                                                                {
                                                                    c_onestar++;
                                                                }
                                                                if (avgfb.rate_star == 2)
                                                                {
                                                                    c_truestar++;
                                                                }
                                                                if (avgfb.rate_star == 3)
                                                                {
                                                                    c_threestar++;
                                                                }
                                                                if (avgfb.rate_star == 4)
                                                                {
                                                                    c_fourstar++;
                                                                }
                                                                if (avgfb.rate_star == 5)
                                                                {
                                                                    c_fivestar++;
                                                                }
                                                            }
                                                        }
                                                    }
                                                    avg = (onestar * c_onestar / totalrating) + (truestar * c_truestar / totalrating) + (threestar * c_threestar / totalrating) +
                                                    (fourstar * c_fourstar / totalrating) + (fivestar * c_fivestar / totalrating);
                                                    if (avg >= 1 && avg < 2)
                                                    {
                                                        avgStar = "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                               "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                               "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                               "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                               "<li class='empty'><i class='ion-android-star'></i></li>";
                                                    }
                                                    else if ((avg >= 2) && (avg < 3))
                                                    {
                                                        avgStar = "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                               "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                               "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                               "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                               "<li class='empty'><i class='ion-android-star'></i></li>";
                                                    }
                                                    else if ((avg >= 3) && (avg < 4))
                                                    {
                                                        avgStar = "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                               "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                               "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                               "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                               "<li class='empty'><i class='ion-android-star'></i></li>";
                                                    }
                                                    else if ((avg >= 4) && (avg < 5))
                                                    {
                                                        avgStar = "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                               "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                               "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                               "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                               "<li class='empty'><i class='ion-android-star'></i></li>";
                                                    }
                                                    else if (avg == 5)
                                                    {
                                                        avgStar = "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                               "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                               "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                               "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                               "<li class='fill'><i class='ion-android-star'></i></li>";
                                                    }
                                                    else
                                                    {
                                                        avgStar = "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                               "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                               "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                               "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                               "<li class='empty'><i class='ion-android-star'></i></li>";
                                                    }
                                                }
                                                @Html.Raw(avgStar)
                                            </ul>
                                        </div>
                                        <div class="text-center">
                                            @if (item.Discount.discount_start < DateTime.Now && item.Discount.discount_end > DateTime.Now && item.Discount.discount_price != 0)
                                            {
                                                <span class="price"><del style="font-size:15px; margin-right:7px;">@item.price.ToString("#,0₫", culture.NumberFormat)</del><span style="color: #000; font-size: 17px; font-weight: 600;">@((item.price - item.Discount.discount_price).ToString("#,0₫", culture.NumberFormat))</span></span>
                                            }
                                            else
                                            {
                                                <span class="price" style="font-size: 17px; color: #000; font-weight: 600;">@item.price.ToString("#,0₫", culture.NumberFormat)</span>
                                            }
                                        </div>
                                    </div>
                                }
                                <!-- End Product Default Single Item -->
                            </div>
                        </div>
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end::New Product-->
<!--begin:: Host Product-->
<div class="product-default-slider-section section-top-gap-100 section-fluid section-inner-bg">
    <!-- Start Section Content Text Area -->
    <div class="section-title-wrapper" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-content-gap">
                        <div class="secton-content">
                            <h3 class="section-title">SẢN PHẨM BÁN CHẠY NHẤT</h3>
                            <p>
                                Nhanh chóng cho những sản phẩm tốt nhất của chúng tôi vào
                                giỏ hàng của bạn nào.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-wrapper" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="product-slider-default-1row default-slider-nav-arrow">
                        <!-- Slider main container -->
                        <div class="swiper-container product-default-slider-4grid-1row">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper">
                                @foreach (var item in listHostProduct)
                                {
                                    <!-- Start Product Default Single Item -->
                                    <div class="product-default-single-item product-color--golden swiper-slide">
                                        <div class="image-box">
                                            <a href="~/@SlugGenerator.SlugGenerator.GenerateSlug(item.pro_name)-@item.pro_id"
                                               class="image-link">
                                                <img src="@item.pro_img"
                                                     alt="@item.pro_name" />
                                            </a>
                                            @if (item.Discount.discount_start < DateTime.Now && item.Discount.discount_end > DateTime.Now && item.Discount.discount_price != 0)
                                            {
                                                <div class="tag">
                                                    <span>-@((((item.price) /(item.price))-((item.price - item.Discount.discount_price)/(item.price))).ToString("0%"))</span>
                                                </div>
                                            }
                                            <div class="action-link">
                                                <div class="action-link-left">
                                                    <input step="1" id="quantity" autocomplete="off" hidden value="1" type="number" />
                                                    <a href="@Url.Action("AddToCart", "Cart", new { productId = @item.pro_id, quantity = 1, action = "addtocartfromhome" })" style="cursor:pointer;">Thêm vào giỏ hàng</a>

                                                </div>
                                                <div class="action-link-right">
                                                    <a href="#"
                                                       data-bs-toggle="modal"
                                                       data-bs-target="#modalQuickview">
                                                        <i class="icon-magnifier"></i>
                                                    </a>
                                                    <a>
                                                        <i class="icon-heart"></i>
                                                    </a>
                                                    <a>
                                                        <i class="icon-shuffle"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <div class="text-center">
                                                <h6 class="title">
                                                    <a href="~/@SlugGenerator.SlugGenerator.GenerateSlug(item.pro_name)-@item.pro_id" style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">@item.pro_name</a>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <ul class="review-star">
                                                @{
                                                    double onestar = 1; int c_onestar = 0; double truestar = 2; int c_truestar = 0;
                                                    double threestar = 3; int c_threestar = 0; ; double fourstar = 4; int c_fourstar = 0;
                                                    double fivestar = 5; int c_fivestar = 0; int totalrating = 0; double avg = 0;
                                                    string avgStar = "";
                                                    foreach (var avgfb in AvgFeedback)
                                                    {
                                                        foreach (var feedbackOrder in listOrderDetail)
                                                        {
                                                            if (avgfb.product_id == item.pro_id && avgfb.status == "2" && feedbackOrder.Order.status == "3" && feedbackOrder.pro_id == item.pro_id)
                                                            {
                                                                totalrating++;
                                                                if (avgfb.rate_star == 1)
                                                                {
                                                                    c_onestar++;
                                                                }
                                                                if (avgfb.rate_star == 2)
                                                                {
                                                                    c_truestar++;
                                                                }
                                                                if (avgfb.rate_star == 3)
                                                                {
                                                                    c_threestar++;
                                                                }
                                                                if (avgfb.rate_star == 4)
                                                                {
                                                                    c_fourstar++;
                                                                }
                                                                if (avgfb.rate_star == 5)
                                                                {
                                                                    c_fivestar++;
                                                                }
                                                            }
                                                        }
                                                    }
                                                    avg = (onestar * c_onestar / totalrating) + (truestar * c_truestar / totalrating) + (threestar * c_threestar / totalrating) +
                                                    (fourstar * c_fourstar / totalrating) + (fivestar * c_fivestar / totalrating);
                                                    if (avg >= 1 && avg < 2)
                                                    {
                                                        avgStar = "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                               "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                               "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                               "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                               "<li class='empty'><i class='ion-android-star'></i></li>";
                                                    }
                                                    else if ((avg >= 2) && (avg < 3))
                                                    {
                                                        avgStar = "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                               "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                               "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                               "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                               "<li class='empty'><i class='ion-android-star'></i></li>";
                                                    }
                                                    else if ((avg >= 3) && (avg < 4))
                                                    {
                                                        avgStar = "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                               "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                               "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                               "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                               "<li class='empty'><i class='ion-android-star'></i></li>";
                                                    }
                                                    else if ((avg >= 4) && (avg < 5))
                                                    {
                                                        avgStar = "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                               "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                               "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                               "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                               "<li class='empty'><i class='ion-android-star'></i></li>";
                                                    }
                                                    else if (avg == 5)
                                                    {
                                                        avgStar = "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                               "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                               "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                               "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                               "<li class='fill'><i class='ion-android-star'></i></li>";
                                                    }
                                                    else
                                                    {
                                                        avgStar = "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                               "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                               "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                               "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                               "<li class='empty'><i class='ion-android-star'></i></li>";
                                                    }
                                                }
                                                @Html.Raw(avgStar)
                                            </ul>
                                        </div>
                                        <div class="text-center">
                                            @if (item.Discount.discount_start < DateTime.Now && item.Discount.discount_end > DateTime.Now && item.Discount.discount_price != 0)
                                            {
                                                <span class="price"><del style="font-size:15px; margin-right:7px;">@item.price.ToString("#,0₫", culture.NumberFormat)</del><span style="color: #000; font-size: 17px; font-weight: 600;">@((item.price - item.Discount.discount_price).ToString("#,0₫", culture.NumberFormat))</span></span>
                                            }
                                            else
                                            {
                                                <span class="price" style="font-size: 17px; color: #000; font-weight: 600;">@item.price.ToString("#,0₫", culture.NumberFormat)</span>
                                            }
                                        </div>
                                    </div>
                                }
                                <!-- End Product Default Single Item -->
                            </div>
                        </div>
                        <!-- If we need navigation buttons -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Section Content Text Area -->
</div>
<!--end::Host Product-->
<!-- Start Service Section -->
<div class="service-promo-section section-top-gap-100">
    <div class="service-wrapper">
        <div class="container">
            <div class="row">
                <!-- Start Service Promo Single Item -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="service-promo-single-item"
                         data-aos="fade-up"
                         data-aos-delay="0">
                        <div class="image">
                            <img src="~/Content/Images/icons/service-promo-1.png" alt="image" />
                        </div>
                        <div class="content">
                            <h6 class="title">Giao Hàng Miễn Phí</h6>
                            <p>
                                Giảm 10%, giao hàng miễn phí, miễn phí đổi trả, và hơn 1000+
                                nhà bán lẽ!
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Service Promo Single Item -->
                <!-- Start Service Promo Single Item -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="service-promo-single-item"
                         data-aos="fade-up"
                         data-aos-delay="200">
                        <div class="image">
                            <img src="~/Content/Images/icons/service-promo-2.png" alt="image" />
                        </div>
                        <div class="content">
                            <h6 class="title">HOÀN TIỀN TRONG 30 NGÀY</h6>
                            <p>
                                Đảm bảo sự hài lòng 100%, hoặc nhận lại tiền của bạn trong
                                vòng 30 ngày!
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Service Promo Single Item -->
                <!-- Start Service Promo Single Item -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="service-promo-single-item"
                         data-aos="fade-up"
                         data-aos-delay="400">
                        <div class="image">
                            <img src="~/Content/Images/icons/service-promo-3.png" alt="image" />
                        </div>
                        <div class="content">
                            <h6 class="title">THANH TOÁN AN TOÀN</h6>
                            <p>
                                Bằng các phương thức thanh toán an toàn và phổ biến nhất
                                trên thế giới.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Service Promo Single Item -->
                <!-- Start Service Promo Single Item -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="service-promo-single-item"
                         data-aos="fade-up"
                         data-aos-delay="600">
                        <div class="image">
                            <img src="~/Content/Images/icons/service-promo-4.png" alt="image" />
                        </div>
                        <div class="content">
                            <h6 class="title">KHÁCH HÀNG TRUNG THÀNH</h6>
                            <p>
                                Thẻ cho 30% giao dịch mua khác của bạn với tỷ lệ hoàn tiền
                                1%.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Service Promo Single Item -->
            </div>
        </div>
    </div>
</div>
<!-- End Service Section -->
<!-- End Product Default Slider Section -->
@section scripts{
    <script src="~/Scripts/UserJS/add-to-cart.js"></script>
}