@model DoAnPhanMem.Models.LoginViewModels
@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<!-- ...:::: Start Breadcrumb Section:::... -->
<div class="breadcrumb-section breadcrumb-bg-color--black">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a href="@Url.Action("Index","Home")">Trang Chủ</a></li>
                                <li class="active" aria-current="page">
                                    Đăng nhập
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ...:::: End Breadcrumb Section:::... -->
<!-- ...:::: Start Customer Login Section :::... -->
<div class="customer-login">
    <div class="container">
        <div class="row d-xl-flex justify-content-center">
            <!--login area start-->
            <div class="col-lg-4 col-md-4">
                <div class="account_form" data-aos="fade-up" data-aos-delay="0">
                    <h3 class="text-center">Đăng Nhập</h3>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <form action="#" method="POST">
                            <label class="mb-1">Tên Đăng Nhập <span class="text-danger">*</span></label>
                            <div class="default-form-box">
                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { type = "text" } })
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                            </div>
                            <div class="d-flex justify-content-between mb-1">
                                <label>Mật Khẩu <span class="text-danger">*</span></label>
                                <a href="#" style="font-weight:600;">Quên Mật Khẩu ?</a>
                            </div>
                            <div class="default-form-box">
                                @Html.EditorFor(model => model.acc_password, new { htmlAttributes = new { type = "password" } })
                                @Html.ValidationMessageFor(model => model.acc_password, "", new { @class = "text-danger" })
                            </div>
                            <div class="login_submit">
                                <button class="btn btn-md btn-black-default-hover mb-4 w-100" style="height:45px;" type="submit">Đăng Nhập</button>
                            </div>
                            <div class="d-flex justify-content-center">
                                <span>Chưa có tài khoản?</span><a href="@Url.Action("Register","Account")" style="font-weight:600;margin-left:5px;">Đăng ký</a>
                            </div>
                        </form>
                    }
                </div>
            </div>
            <!--login area start-->
        </div>
    </div>
</div> <!-- ...:::: End Customer Login Section :::... -->
@section scripts{
    <script src="~/Scripts/UserJS/jquery.validate.min.js"></script>
    <script src="~/Scripts/UserJS/jquery.validate.unobtrusive.js"></script>
}