@model DoAnPhanMem.Models.ResetPasswordViewModels
@{
    ViewBag.Title = "Cập nhật mật khẩu";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<!-- ...:::: Start Breadcrumb Section:::... -->
<div class="breadcrumb-section breadcrumb-bg-color--black">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a href="@Url.Action("Index","Home")">Trang Chủ</a></li>
                                <li class="active" aria-current="page">
                                    Cập nhật mật khẩu
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ...:::: End Breadcrumb Section:::... -->
<!-- ...:::: Start Customer Login Section :::... -->
<div class="customer-login">
    <div class="container">
        <div class="row d-xl-flex justify-content-center">
            <!--login area start-->
            <div class="col-lg-4 col-md-4">
                <div class="account_form" data-aos="fade-up" data-aos-delay="0">
                    <h3 class="text-center">Cập nhật mật khẩu</h3>
                    @using (Html.BeginForm("Resetpassword", "Account", null, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <form action="#" method="POST">
                             @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <label class="mb-1">Mật khẩu mới<span class="text-danger">*</span></label>
                            <div class="default-form-box">
                                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { type = "password" } })
                                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                            </div>
                            <label class="mb-1">Mật khẩu xác nhận<span class="text-danger">*</span></label>
                            <div class="default-form-box">
                                @Html.EditorFor(model => model.PasswordConfirm, new { htmlAttributes = new { type = "password" } })
                                @Html.ValidationMessageFor(model => model.PasswordConfirm, "", new { @class = "text-danger" })
                            </div>
                            <div class="login_submit">
                                <button class="btn btn-md btn-black-default-hover mb-4 w-100" style="height:45px;" type="submit">Cập nhật</button>
                            </div>
                            <div class="d-flex justify-content-center">
                                <span>bạn đã nhớ mật khẩu?</span><a href="@Url.Action("Login","Account")" style="font-weight:600;margin-left:5px;">Đăng nhập</a>
                            </div>
                        </form>
                    }
                </div>
            </div>
            <!--login area start-->
        </div>
    </div>
</div> <!-- ...:::: End Customer Login Section :::... -->
@section scripts{
    <script src="~/Scripts/UserJS/jquery.validate.min.js"></script>
    <script src="~/Scripts/UserJS/jquery.validate.unobtrusive.js"></script>
}
