@using PagedList
@model IPagedList<DoAnPhanMem.Models.Product>
@{
    Layout = "~/Views/Shared/Main_Layout.cshtml";
    var culture = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    var AvgFeedback = (List<DoAnPhanMem.Models.Feedback>)ViewBag.AvgFeedback;
    var listOrderDetail = (List<DoAnPhanMem.Models.Oder_Detail>)ViewBag.OrderDetail;

    var listCate = (List<DoAnPhanMem.Models.Category>)ViewBag.ListCate;
    var ListBrand = (List<DoAnPhanMem.Models.Brand>)ViewBag.ListBrand;

}

<div class="breadcrumb-section breadcrumb-bg-color--black">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                                <li>
                                    <a href="@Url.Action("Index","Product")">
                                        Sản phẩm
                                    </a>
                                </li>
                                <li class="active" aria-current="page">
                                    @ViewBag.Type
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--------------------------------->
<div class="shop-section">
    <div class="container">
        <div class="row flex-column-reverse flex-lg-row">
            <div class="col-lg-3">
                <!-- Start Sidebar Area -->
                <div class="siderbar-section" data-aos="fade-up" data-aos-delay="0">
                    <!-- Start Single Sidebar Widget -->
                    <div class="sidebar-single-widget">
                        <h6 class="sidebar-title">DANH MỤC</h6>
                        <div class="sidebar-content">
                            <ul class="sidebar-menu">
                                @foreach (var item in listCate)
                                {
                                    <li><a href="@Url.Action("ProductsByCategory", new { categoryId = item.cate_id })">@item.cate_name</a></li>
                                }
                            </ul>
                        </div>
                    </div> <!-- End Single Sidebar Widget -->

                    <div class="sidebar-single-widget">
                        <h6 class="sidebar-title">Thương hiệu</h6>
                        <div class="sidebar-content">
                            <div class="tag-link">
                                @foreach (var item in ListBrand)
                                {
                                    <a href="@Url.Action("ProductsByBrand", new { brandId = item.brand_id })">@item.brand_name</a>
                                }
                            </div>
                        </div>
                    </div> <!-- End Single Sidebar Widget -->
                </div> <!-- End Sidebar Area -->
            </div>
            <div class="col-lg-9">
                <!-- Start Shop Product Sorting Section -->
                <div class="shop-sort-section">
                    <div class="container">
                        <div class="row">
                            <!-- Start Sort Wrapper Box -->
                            <div class="sort-box d-flex justify-content-between align-items-md-center align-items-start flex-md-row flex-column"
                                 data-aos="fade-up" data-aos-delay="0">
                                <!-- Start Sort tab Button -->
                                <div class="sort-tablist d-flex align-items-center">
                                    <ul class="tablist nav sort-tab-btn">
                                        <li>
                                            <a class="nav-link active" data-bs-toggle="tab"
                                               href="#layout-3-grid">
                                                <img src="~/Content/Images/icons/bkg_grid.png"
                                                     alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a class="nav-link" data-bs-toggle="tab" href="#layout-list">
                                                <img src="~/Content/Images/icons/bkg_list.png" alt="">
                                            </a>
                                        </li>
                                    </ul>

                                    <!-- Start Page Amount -->
                                    <div class="page-amount ml-2">
                                        <span>Hiển thị @(ViewBag.Showing == 0?"0": "1 - "+ViewBag.Showing) trong @ViewBag.CountProduct kết quả tìm thấy</span>
                                    </div> <!-- End Page Amount -->
                                </div> <!-- End Sort tab Button -->
                                <!-- Start Sort Select Option -->
                          
                            </div> <!-- Start Sort Wrapper Box -->
                        </div>
                    </div>
                </div> <!-- End Section Content -->
                <!-- Start Tab Wrapper -->
                <div class="sort-product-tab-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="tab-content tab-animate-zoom">
                                    <!-- Start Grid View Product -->
                                    <div class="tab-pane active show sort-layout-single" id="layout-3-grid">
                                        <div class="row">
                                            @if (Model.Count == 0)
                                            {
                                                <div class="text-center" style="margin-top:30px;" data-aos="fade-up" data-aos-delay="0">
                                                    <p class="h3 text-danger">Không có sản phẩm</p>
                                                </div>
                                            }
                                            else
                                            {
                                                foreach (var item in Model)
                                                {
                                                    <div class="col-xl-4 col-sm-6 col-12">
                                                        <!-- Start Product Default Single Item -->
                                                        <div class="product-default-single-item product-color--golden"
                                                             data-aos="fade-up" data-aos-delay="0">
                                                            <div class="image-box">
                                                                <a href="~/@SlugGenerator.SlugGenerator.GenerateSlug(item.pro_name)-@item.pro_id" class="image-link">
                                                                    <img src="@item.pro_img" alt="@item.pro_name">
                                                                </a>
                                                                @if (item.Discount.discount_start < DateTime.Now && item.Discount.discount_end > DateTime.Now && item.Discount.discount_price != 0)
                                                                {
                                                                    <div class="tag">
                                                                        <span>-@((((item.price) / (item.price)) - ((item.price - item.Discount.discount_price) / (item.price))).ToString("0%"))</span>
                                                                    </div>
                                                                }
                                                                <div class="action-link">
                                                                    <div class="action-link-left">
                                                                        <input step="1" id="quantity" autocomplete="off" hidden value="1" type="number" />
                                                                        <a class="btnAddToCart" style="cursor:pointer;" data-id="@item.pro_id">Thêm vào giỏ</a>
                                                                    </div>
                                                                    <div class="action-link-right">
                                                                        <a href="#" data-bs-toggle="modal"
                                                                           data-bs-target="#modalQuickview">
                                                                            <i class="icon-magnifier"></i>
                                                                        </a>
                                                                        <a>
                                                                            <i class="icon-heart"></i>
                                                                        </a>
                                                                        <a>
                                                                            <i class="icon-shuffle"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="content">
                                                                <div class="text-center">
                                                                    <h6 class="title">
                                                                        <a href="@SlugGenerator.SlugGenerator.GenerateSlug(item.pro_name)-@item.pro_id" style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">@item.pro_name</a>
                                                                    </h6>
                                                                </div>
                                                            </div>
                                                            <div class="text-center">
                                                                <ul class="review-star">
                                                                    @{
                                                                        double onestar = 1; int c_onestar = 0; double truestar = 2; int c_truestar = 0;
                                                                        double threestar = 3; int c_threestar = 0; ; double fourstar = 4; int c_fourstar = 0;
                                                                        double fivestar = 5; int c_fivestar = 0; int totalrating = 0; double avg = 0;
                                                                        string avgStar = "";
                                                                        foreach (var avgfb in AvgFeedback)
                                                                        {
                                                                            foreach (var feedbackOrder in listOrderDetail)
                                                                            {
                                                                                if (avgfb.product_id == item.pro_id && avgfb.status == "2" && feedbackOrder.Order.status == "3" && feedbackOrder.pro_id == item.pro_id)
                                                                                {
                                                                                    totalrating++;
                                                                                    if (avgfb.rate_star == 1)
                                                                                    {
                                                                                        c_onestar++;
                                                                                    }
                                                                                    if (avgfb.rate_star == 2)
                                                                                    {
                                                                                        c_truestar++;
                                                                                    }
                                                                                    if (avgfb.rate_star == 3)
                                                                                    {
                                                                                        c_threestar++;
                                                                                    }
                                                                                    if (avgfb.rate_star == 4)
                                                                                    {
                                                                                        c_fourstar++;
                                                                                    }
                                                                                    if (avgfb.rate_star == 5)
                                                                                    {
                                                                                        c_fivestar++;
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                        avg = (onestar * c_onestar / totalrating) + (truestar * c_truestar / totalrating) + (threestar * c_threestar / totalrating) +
                                                                        (fourstar * c_fourstar / totalrating) + (fivestar * c_fivestar / totalrating);
                                                                        if (avg >= 1 && avg < 2)
                                                                        {
                                                                            avgStar = "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                                                   "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                                                   "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                                                   "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                                                   "<li class='empty'><i class='ion-android-star'></i></li>";
                                                                        }
                                                                        else if ((avg >= 2) && (avg < 3))
                                                                        {
                                                                            avgStar = "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                                                   "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                                                   "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                                                   "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                                                   "<li class='empty'><i class='ion-android-star'></i></li>";
                                                                        }
                                                                        else if ((avg >= 3) && (avg < 4))
                                                                        {
                                                                            avgStar = "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                                                   "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                                                   "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                                                   "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                                                   "<li class='empty'><i class='ion-android-star'></i></li>";
                                                                        }
                                                                        else if ((avg >= 4) && (avg < 5))
                                                                        {
                                                                            avgStar = "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                                                   "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                                                   "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                                                   "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                                                   "<li class='empty'><i class='ion-android-star'></i></li>";
                                                                        }
                                                                        else if (avg == 5)
                                                                        {
                                                                            avgStar = "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                                                   "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                                                   "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                                                   "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                                                   "<li class='fill'><i class='ion-android-star'></i></li>";
                                                                        }
                                                                        else
                                                                        {
                                                                            avgStar = "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                                                   "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                                                   "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                                                   "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                                                   "<li class='empty'><i class='ion-android-star'></i></li>";
                                                                        }
                                                                    }
                                                                    @Html.Raw(avgStar)
                                                                </ul>
                                                            </div>
                                                            <div class="text-center">
                                                                @if (item.Discount.discount_start < DateTime.Now && item.Discount.discount_end > DateTime.Now && item.Discount.discount_price != 0)
                                                                {
                                                                    <span class="price"><del style="font-size:15px; margin-right:7px;">@item.price.ToString("#,0₫", culture.NumberFormat)</del><span style="color: #000; font-size: 17px; font-weight: 600;">@((item.price - item.Discount.discount_price).ToString("#,0₫", culture.NumberFormat))</span></span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="price" style="font-size: 17px; color: #000; font-weight: 600;">@item.price.ToString("#,0₫", culture.NumberFormat)</span>
                                                                }
                                                            </div>
                                                        </div>
                                                        <!-- End Product Default Single Item -->
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div> <!-- End Grid View Product -->
                                    <!-- Start List View Product -->
                                    <div class="tab-pane sort-layout-single" id="layout-list">
                                        <div class="row">
                                            @foreach (var item in Model)
                                            {
                                                <div class="col-12">
                                                    <!-- Start Product Defautlt Single -->
                                                    <div class="product-list-single product-color--golden">
                                                        <a href="@SlugGenerator.SlugGenerator.GenerateSlug(item.pro_name)-@item.pro_id"
                                                           class="product-list-img-link">
                                                            <img class="img-fluid" style="max-width:300px;" src="@item.pro_img" alt="">
                                                        </a>
                                                        <div class="product-list-content">
                                                            <h5 class="product-list-link">
                                                                <a href="@SlugGenerator.SlugGenerator.GenerateSlug(item.pro_name)-@item.pro_id">
                                                                    @item.pro_name
                                                                </a>
                                                            </h5>
                                                            <ul class="review-star">
                                                                @{
                                                                    double onestar = 1; int c_onestar = 0; double truestar = 2; int c_truestar = 0;
                                                                    double threestar = 3; int c_threestar = 0; ; double fourstar = 4; int c_fourstar = 0;
                                                                    double fivestar = 5; int c_fivestar = 0; int totalrating = 0; double avg = 0;
                                                                    string avgStar = "";
                                                                    foreach (var avgfb in AvgFeedback)
                                                                    {
                                                                        if (avgfb.product_id == item.pro_id && avgfb.status == "2")
                                                                        {
                                                                            totalrating++;
                                                                            if (avgfb.rate_star == 1)
                                                                            {
                                                                                c_onestar++;
                                                                            }
                                                                            if (avgfb.rate_star == 2)
                                                                            {
                                                                                c_truestar++;
                                                                            }
                                                                            if (avgfb.rate_star == 3)
                                                                            {
                                                                                c_threestar++;
                                                                            }
                                                                            if (avgfb.rate_star == 4)
                                                                            {
                                                                                c_fourstar++;
                                                                            }
                                                                            if (avgfb.rate_star == 5)
                                                                            {
                                                                                c_fivestar++;
                                                                            }
                                                                        }
                                                                    }
                                                                    avg = (onestar * c_onestar / totalrating) + (truestar * c_truestar / totalrating) + (threestar * c_threestar / totalrating) +
                                                                    (fourstar * c_fourstar / totalrating) + (fivestar * c_fivestar / totalrating);
                                                                    if (avg >= 1 && avg < 2)
                                                                    {
                                                                        avgStar = "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                                               "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                                               "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                                               "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                                               "<li class='empty'><i class='ion-android-star'></i></li>";
                                                                    }
                                                                    else if ((avg >= 2) && (avg < 3))
                                                                    {
                                                                        avgStar = "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                                               "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                                               "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                                               "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                                               "<li class='empty'><i class='ion-android-star'></i></li>";
                                                                    }
                                                                    else if ((avg >= 3) && (avg < 4))
                                                                    {
                                                                        avgStar = "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                                               "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                                               "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                                               "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                                               "<li class='empty'><i class='ion-android-star'></i></li>";
                                                                    }
                                                                    else if ((avg >= 4) && (avg < 5))
                                                                    {
                                                                        avgStar = "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                                               "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                                               "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                                               "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                                               "<li class='empty'><i class='ion-android-star'></i></li>";
                                                                    }
                                                                    else if (avg == 5)
                                                                    {
                                                                        avgStar = "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                                               "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                                               "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                                               "<li class='fill'><i class='ion-android-star'></i></li>" +
                                                                               "<li class='fill'><i class='ion-android-star'></i></li>";
                                                                    }
                                                                    else
                                                                    {
                                                                        avgStar = "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                                               "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                                               "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                                               "<li class='empty'><i class='ion-android-star'></i></li>" +
                                                                               "<li class='empty'><i class='ion-android-star'></i></li>";
                                                                    }
                                                                }
                                                                @Html.Raw(avgStar)
                                                            </ul>
                                                            <span class="product-list-price">
                                                                @if (item.Discount.discount_start < DateTime.Now && item.Discount.discount_end > DateTime.Now && item.Discount.discount_price != 0)
                                                                {
                                                                    <del style="font-size:15px; margin-right:7px;">@item.price.ToString("#,0₫", culture.NumberFormat)</del>
                                                                    <span style="color: #000; font-size: 17px; font-weight: 600;">@((item.price - item.Discount.discount_price).ToString("#,0₫", culture.NumberFormat))</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="price" style="font-size: 17px; color: #000; font-weight: 600;">@item.price.ToString("#,0₫", culture.NumberFormat)</span>
                                                                }
                                                            </span>
                                                            <div class="product-action-icon-link-list">
                                                                <input step="1" id="quantity" autocomplete="off" hidden value="1" type="number" />
                                                                <a class="btnAddToCart btn btn-lg btn-black-default-hover" style="cursor:pointer;" data-id="@item.pro_id">Thêm vào giỏ</a>
                                                                <a href="#" data-bs-toggle="modal"
                                                                   data-bs-target="#modalQuickview"
                                                                   class="btn btn-lg btn-black-default-hover">
                                                                    <i class="icon-magnifier"></i>
                                                                </a>
                                                                <a href="#"
                                                                   class="btn btn-lg btn-black-default-hover">
                                                                    <i class="icon-heart"></i>
                                                                </a>
                                                                <a href="#"
                                                                   class="btn btn-lg btn-black-default-hover">
                                                                    <i class="icon-shuffle"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div> <!-- End Product Defautlt Single -->
                                                </div>
                                            }
                                        </div>
                                    </div> <!-- End List View Product -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- End Tab Wrapper -->
                <!-- Start Pagination -->
                <div class="page-pagination text-center d-flex justify-content-center" data-aos="fade-up" data-aos-delay="0">
                    @Html.Partial("Pager", Model)
                </div>
                <!-- End Pagination -->
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Shop Section:::... -->
@section scripts{
    <script>
        $("select.search").change(function () {
            let getSortBy = $('#sort-for').text();
            const selected = $(this).children("option:selected").val();
            window.location.href = getSortBy + '?sortOrder=' + selected;
        });


                    //$("select.search").change(function () {
                    //    const selected = $(this).children("option:selected").val();
                    //    // Lấy URL hiện tại
                    //    const currentUrl = window.location.href;
                    //    // Tạo URL mới với tham số query string sortOrder
                    //    const newUrl = updateQueryStringParameter(currentUrl, 'sortOrder', selected);
                    //    // Chuyển hướng tới URL mới
                    //    window.location.href = newUrl;
                    //});

                    //// Hàm cập nhật tham số query string trong URL
                    //function updateQueryStringParameter(uri, key, value) {
                    //    const re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
                    //    const separator = uri.indexOf('?') !== -1 ? "&" : "?";
                    //    if (uri.match(re)) {
                    //        return uri.replace(re, '$1' + key + "=" + value + '$2');
                    //    } else {
                    //        return uri + separator + key + "=" + value;
                    //    }
                    //}
    </script>
    <script src="~/Scripts/UserJS/add-to-cart.js"></script>
}



